{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-5">
    <div class="card p-4 shadow-sm glass">
      <h3 class="mb-3 fw-bold">Login</h3>

      <form method="post">
        {% csrf_token %}
        <div class="mb-3">
          <label class="form-label">Username</label>
          <input class="form-control" name="username" required />
        </div>

        <div class="mb-3">
          <label class="form-label">Password</label>
          <input class="form-control" type="password" name="password" required />
        </div>

        <button class="btn btn-primary w-100">Login</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}